.navigation-bar {
  padding-right:30px;
}
  .navigation-bar {
    background-color: #0D1F2D;
  }
  .navbar-text  {
  /*background-color: #38618C;*/
  color:white;
  font-weight: bold;
  font-family: georgia;

  }
  #menu-dropdown li a:hover{
    background-color: #FAF3DD;

    color:black;
    }
  #menu-dropdown li a{
    /*background-color: #FAF3DD;*/
    color:white;
    }
  .fa-custom {
    color: white;
  }
  .navbar-toggle {
    color:white;
  }

#heading {
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: #FAF3DD;
  /*position: relative;*/
}
  .profile-info {
    font-family: georgia;
  }
    .profile-info p {
      font-size: 16px;
    }
    .profile-info h1 {
      font-size: 36px;
    }
    .profile-info h3 {
      font-size: 20px;
    }

#projects {
  padding: 100px;
  background-color: #38618C;
  font-family: georgia;
  /*position: relative;*/
 }
  .projects-header {
    color:#FAF3DD;
    font-size: 40px;
    font-style: italic;
  }
  .projects-text {
    /*color:#FAF3DD;*/
    font-size: 16px;
    color:white;
    line-height: 200%;
    font-weight: 100;
  }
    .projects-text h3 a {
      color: #0D1F2D;

    }
    .projects-text a {
      color: white;
      text-decoration: underline;

    }
  .project-title {
    text-decoration: underline;
    font-size: 30px;
    color: #FAF3DD;
  }


#about {
  padding: 100px;
  background-color: #FAF3DD;
  font-family: georgia;
 }
  .about-header {
    font-size: 40px;
    font-style: italic;
  }
  .about-text {
    font-size: 18px;

  }

#connect {
  padding: 100px;
  background-color: #38618C;
  font-family: georgia;
}
  .connect-header {
    color:#FAF3DD;
    font-size:40px;
    font-style: italic;

  }
  .connect-text a {
    color: #FAF3DD;
  }
  .contactForm {
    border-style: solid;
    border-color: black;
    padding: 40px;
    background-color: #FAF3DD;
  }

#question {
  position: fixed;
  top: 80px;
  float:right;
  background: white;
  border-radius: 0px 5px 5px 0px;
  margin-left: -10px;
  border: 2px solid black;
}
.popout {
  display: inline-block;
}
  #popout-header {
    color: black;
  }
  #popoutbutton {
    display: inline-block;
  }
  .popout ul {
    display: none;
    width:325px;
    /*height:500px;*/
    list-style:none;
  }
  .popout li:before {
      content: "";
      border-color: transparent #111;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 1.5em;
      position: relative;

  }
  .popout .answer {
    display: none;
  }

  .popout li a {
    text-decoration: none;
    color:black;
    cursor: pointer;
  }
  .popout li p {
    font-size: .85em;
  }


footer {
  background-color:#FAF3DD;
}

