html {
  background-image:url("https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10403008_10152435033221763_6767411178154074145_n.jpg?oh=ea4556f30501f83e8767a59d95577bdc&oe=568F9864");
  background-repeat: no-repeat;
  background-size: 100%;
  }

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 30px;
  border-radius: 100%;
  color: white;
  border: 5px;
  font-size: 1.5em;
  text-align: center;
}


.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #efefef;
  text-align: center;
  opacity: .5;
}

.blog{
  display: inline-block;
  border-style: dotted;
  margin: 50px;
  padding: 25px;
  height: 100%;
  width: 50%;
  line-height: 1.75em;
  font-weight: bold;
  -webkit-text-stroke: .5px black;
  background-color: #FFF9B8;
}

.blog h3 {
  font-size: 3em;
  color: #FFFDDA;
  -webkit-text-stroke: 1px black;
}

.blog p {
  color: black;
  font-size:1.5em;
  -webkit-text-stroke: .25px white;

}
