html {
  background-color: #283E67;
  font-family: PT serif;
  color: #D687FF;
  background-image:url("http://i.imgur.com/ySvBw8y.jpg");
}

.link:visited {
  color: white;
}

.link: {
  color: #FFFC1B;
}

.link:hover {
  color: #ff0000 ;
}

 footer {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;

}

.Header {
  font-weight: bold;
  color: #23DB2A;
  font-size: 40px;

}

#title1 p {
  color: black;
}


#left {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  width:100px;
}

#title1 {
  position: absolute;
  border-style: dashed;
  border-color: white;
  border width: 2px;
  width: 50%;
  left: 30%;
  top: 20%;
  padding: 50px 50px;
  background-color:#23DB2A ;
}

#blogpic {
  display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;

}

h2 {
  color: #283E67;
}

h3 {
  color: #23DB2A;
}

h4 {
  color: yellow;
}

